.navList {
    height: 100%;
    display: flex;
    align-items: center;
}

.navList ul {
    height: 90%;
    align-items: center;
}

.navList ul li {
    margin-left: 30px;
    font-size: 16px;
    padding: 10px 20px;

    transition: color .65s ease-in;
}

.navList ul a:hover {
    color: #302f2f;
}


.navList ul li a {
    color: #727272;
}

.active {
    border: 2px solid #ffc222;
}

@media (max-width: 740px) {
    .navList {
        display: none;
    }
}