* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

p {
    font-family: "PT Serif", sans-serif;
    color: #d3d2d2;
}

a{
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
}

.app {
    display: table;
}

